/* ./assets/css/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @responsive {
    /* .text-h1 {
      @apply font-raleway font-extrabold text-5xl leading-none tracking-tight;
    }
    .text-h3 {
      @apply font-raleway font-bold text-3xl leading-9 tracking-normal;
    }
    .text-h4 {
      @apply font-raleway font-semibold text-2xl leading-8 tracking-normal;
    }
    .text-h5 {
      @apply font-raleway font-normal text-xl leading-7 tracking-wide;
    }
    .text-h6 {
      @apply font-raleway font-semibold text-lg leading-7 tracking-normal;
    }
    .text-subtitle-1 {
      @apply font-raleway font-normal text-base leading-6 tracking-normal;
    }
    .text-subtitle-2 {
      @apply font-raleway font-medium text-sm leading-5 tracking-normal;
    }
    .text-body-1 {
      @apply font-lato font-normal text-base leading-6 tracking-wide;
    }
    .text-body-2 {
      @apply font-lato font-normal text-sm leading-5 tracking-wide;
    }
    .text-caption {
      @apply font-lato font-normal text-xs leading-4 tracking-wide;
    } */
    .text-button {
      @apply font-inter font-semibold text-sm tracking-widest uppercase;
    }
    .text-display-2 {
      @apply font-inter text-6xl font-bold leading-tight tracking-tight;
    }
    .text-subheading-1 {
      @apply font-inter text-lg leading-7 tracking-wide;
    }
    .text-subheading-2 {
      @apply font-inter font-normal text-base leading-6 tracking-wide;
    }
    .text-h2 {
      @apply font-inter font-bold text-4xl leading-tight tracking-wide;
    }
    .text-body-1 {
      @apply font-inter font-normal text-base leading-6 tracking-wide;
    }
    .text-h4 {
      @apply font-inter font-medium text-xl leading-7 tracking-normal;
    }
  }
}

@layer base {
  @font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('../fonts/Inter-Regular.woff') format("woff")
  }
  @font-face {
    font-family: 'Teko';
    font-weight: 600;
    src: url('../fonts/Teko-SemiBold.woff') format("woff")
  }
}

@layer components {
  .default-text {
    @apply antialiased font-inter overflow-hidden max-w-screen-2xl mx-auto;
  }
  .btn-secondary {
    @apply bg-onSurface py-3 px-6 text-button text-white rounded;
  }
  .btn-primary {
    @apply bg-secondary py-3 px-6 text-button text-white rounded;
  }
}
